<div class="footer_address" itemscope itemtype="http://schema.org/PostalAddress">
	<span class="footer_address_name" itemprop="name">{{site.symbol("logo_group_white")}}</span>
	<div class="footer_address_item">
		<span class="footer_address_icon">{{site.symbol("location")}}</span>
		<span class="footer_address_street" itemprop="streetAddress">{{street}}<br></span>
		<span class="footer_address_city" itemprop="addressLocality">{{city}}</span>
		<span class="footer_address_state" itemprop="addressRegion">{{state}}</span>
		<span class="footer_address_zip" itemprop="postalCode">{{zip}}</span>
	</div>
	<div class="footer_address_item">
		<span class="footer_address_icon">{{site.symbol("phone")}}</span>
		<a class="footer_address_phone" itemprop="telephone" href="tel:">{{tel}}</a>
	</div>
</div>
