{#
	{% include "../partials/components/in-content/gallery.twig" with {
		theme: "",
		title: "Media Gallery",
		items: [
			{
				video: "//www.youtube.com/watch?v=XPjQhvjQbSM",
				symbol: "",
				image: 1,
				caption: "Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. <a href='#'>Phasellus viverra</a> nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui."
			},
			{
				video: "",
				symbol: "",
				image: 2,
				caption: ""
			}
		]
	} %}
#}

<div class="media_gallery{% if theme %} theme_{{theme}}{% endif %}">
	<div class="media_gallery_body">
		<div class="js-carousel media_gallery_items" data-carousel-options='{"theme": "base_pagination", "contained": false, "matchHeight": true}'>
			{% for item in items %}
				<div class="media_gallery_item">
					<figure class="media_gallery_figure" role="group">
						<a class="js-lightbox media_gallery_item_link" href="{{item.video}}" title="{{item.label|striptags}}">
							{% include "../shared/picture.twig" with {
								class: "media_gallery",
								sources: {
									"0px": "530x300"
								},
								fallback: "530x300",
								image: item.image
							} %}
							<span class="media_gallery_details">
								<span class="media_gallery_play_wrapper">
									<span class="media_gallery_play">{{site.symbol("play")}}</span>
								</span>
								<h4 class="media_gallery_label">{{item.label}}</h4>
							</span>
						</a>
					</figure>
				</div>
			{% endfor %}
		</div>
	</div>
</div>
