<section class="announcement">
  <div class="row">
    <div class="announcement_inner">
      <div class="announcement_body">
        <header class="announcement_header">
          <h2 class="announcement_label">{{label}}</h2>
          <h3 class="announcement_title">{{title}}</h3>
        </header>
        <p class="announcement_caption">{{caption}}</p>
        <a class="announcement_link" href="#">{{link}}</a>
      </div>
      <figure class="announcement_figure">
        {{site.image("announcement", img.full.sml, image)}}
      </figure>
    </div>
  </div>
</section>
